body {
  margin: 0;
  font-family: Arial;
  background: #fff8e6;
}

.navbar {
  background: #ff6a00;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.container {
  padding: 20px;
}

.btn {
  background: #2fa500;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.card {
  background: #ffeccc;
  padding: 15px;
  margin: 10px 0;
}